# URL publique du site (recommandé en production Vercel)
# Exemple : https://harry-daniel-portfolio.vercel.app
# ou ton domaine custom : https://harrydaniel-tt.mg
NEXT_PUBLIC_SITE_URL=

# Endpoint Formspree pour le formulaire de contact (optionnel)
# Créer un formulaire sur https://formspree.io puis coller l’URL :
# https://formspree.io/f/xxxxxxxx
NEXT_PUBLIC_FORMSPREE_ENDPOINT=
